<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutritionTracker"
        tools:targetApi="31">
        <activity
            android:name=".activities.activitySplash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.loginActivity.LoginActivity"></activity>
        <activity android:name=".activities.homeActivity.HomeActivity"></activity>
        <activity android:name=".activities.categoryFood.CategoryFoodActivity"></activity>
        <activity android:name=".activities.foodActivity.FoodActivity"></activity>
        <activity android:name=".activities.activitySaveFood.SaveFoodActivity"></activity>
        <activity android:name=".activities.activitySavedFoodEdit.SavedFoodEditActivity"></activity>
        <activity android:name=".activities.activitySavedFoodEdit.EditFoodActivity"></activity>
        <activity android:name=".activities.activityProfile.StatisticsActivity"></activity>
        <activity android:name=".activities.activityProfile.EditDataActivity"></activity>
    </application>

</manifest>